@import url(https://fonts.googleapis.com/css?family=Lato:300italic);


@import url('https://fonts.googleapis.com/css?family=Anton|Architects+Daughter|Arizonia|Berkshire+Swash|Butterfly+Kids|Cookie|Dr+Sugiyama|Felipa|Herr+Von+Muellerhoff|Indie+Flower|Josefin+Sans|Kaushan+Script|Lobster+Two|Lora|Lovers+Quarrel|Merienda+One|Merriweather|Miss+Fajardose|Molle:400i|Montez|Montserrat|Mr+Bedfort|Mr+De+Haviland|PT+Serif|Parisienne|Petit+Formal+Script|Playfair+Display|Princess+Sofia|Raleway|Redressed|Roboto|Sacramento|Slabo+27px|Tangerine');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&display=swap');

/* html,body {
  width: 100%;
  height: 100%;
} */

body {
  background: pink;
  overflow-x: hidden;
  /* background-image:url("/icons/IMG-20210715-WA0027.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30rem;
   */
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/
#headline,#countdown{
    display: none;
}
.velas {
  background: #7b5749;
  border-radius: 10px;
  position: absolute;
  top: 233px;
  left: 50%;
  margin-left: -2.0px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 4s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(158, 113, 113, 0.626);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -3px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(250, 116, 116, 0.568);
    box-shadow: 0 0 40px 10px rgba(255, 218, 153, 0.333);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.121);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: white;
  font-family: -apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Oxygen-Sans, 
  Ubuntu, 
  Cantarell, 
  "Helvetica Neue", 
  sans-serif;
  text-align: center;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}








:root{
  --fc1: #f20;
  --fc2: #ff0;
  --fc3: #04f;
  --fc4: #0f4;
  --fc5: #f0f;
  --fc: var(--fc1);
}
body {
  margin: 0;
  padding: 0;

  /* overflow: hidden;  */
}
.fireworks:before, .fireworks:after{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px 0 var(--fc),
              120px 0 var(--fc),
              0 120px var(--fc),
              0 -120px var(--fc),
              45px 45px var(--fc),
              -45px 45px var(--fc),
              85px 85px var(--fc),
              -85px 85px var(--fc),
              45px -45px var(--fc),
              -45px -45px var(--fc),
              85px -85px var(--fc),
              -85px -85px var(--fc),
              65px 0 var(--fc),
              -65px 0 var(--fc),
              0 65px var(--fc),
              0 -65px var(--fc),
              100px 45px var(--fc),
              -100px 45px var(--fc),
              -50px 100px var(--fc),
              50px 100px var(--fc),
              100px -45px var(--fc),
              -100px -45px var(--fc),
              -50px -100px var(--fc),
              50px -100px var(--fc),
              5px 10px var(--fc);
  animation: 1s bang ease-out infinite backwards, 
              1s gravity ease-in infinite backwards, 
              5s position linear infinite backwards;
}
.fireworks:after{
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  from {
      box-shadow: 0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff,
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff,
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff, 
                  0 0 #fff,
                  0 0 #fff; 
  }
}

@keyframes gravity {
  to {
      transform: translate(-10px, 150px);
      height: 6px;
      width: 4px;
      opacity: 0; 
  }
}
@keyframes position {
  0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
      --fc: var(--fc1);
  }

  20%, 39.9% {
      margin-top: 2%;
      margin-left: 70%; 
      --fc: var(--fc2);
  }

  40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; 
      --fc: var(--fc3);
  }

  60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
      --fc: var(--fc4);
  }

  80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; 
      --fc: var(--fc5);
  } 
}
.text{
  color: #000;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem;
}
.text span{
  text-shadow: 0 0 12px #ffe0b4,
              0 0 #ffe044,
              0 0 5px #ffe074;
  margin: 0;
}
.text span:last-child{
  margin: 20px;
}
   












.video-button,.video-button2,.video-button3,.video-button4
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  --video-width: 80vw;
  width: var(--video-width);
  height: calc(var(--video-width) / 1.77);
}

.video-button, .video-button2,.video-button3,.video-button4{
  cursor: pointer;
  clip-path: polygon(30% 20%, 70% 20%, 70% 80%, 30% 80%);
  transition: 0.6s cubic-bezier(0.6, 0, 0.4, 1);
}
.video-button,.video-button2,.video-button3,.video-button4[data-aperture=open] {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.video-container {
  overflow: hidden;
}

.actual-video ,.actual-video2,.actual-video3,.actual-video4{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s linear;
  transform: scale(1);
}
[data-aperture=open] .actual-video,.actual-video2,.actual-video3,.actual-video4 {
  transform: scale(1.2);
}

.play-button__aperture--left {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s 0.1s cubic-bezier(0.6, 0, 0.4, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
}
[data-aperture=open] .play-button__aperture--left {
  transition-delay: 0s;
}
[data-aperture=open] .play-button__aperture--left {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.play-button__aperture--top-right {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s 0.1s cubic-bezier(0.6, 0, 0.4, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%);
}
[data-aperture=open] .play-button__aperture--top-right {
  transition-delay: 0s;
}
[data-aperture=open] .play-button__aperture--top-right {
  clip-path: polygon(100% 0%, 100% 0%, 100% 0%);
}

.play-button__aperture--bottom-right {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s 0.1s cubic-bezier(0.6, 0, 0.4, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 20%);
}
[data-aperture=open] .play-button__aperture--bottom-right {
  transition-delay: 0s;
}
[data-aperture=open] .play-button__aperture--bottom-right {
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}












.top{display:flex;
  align-items: center;
  justify-content: center;
}
p{
  position :absolute;
  top:2%;
}
h1,h2 {
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif;
  letter-spacing: .125rem;
  color:black;
  font-weight: 400;
  position: absolute;
}
h1{

  font-weight: 900;
  top:4rem;
}
h2{
  top:6rem;
}

#gif{
  /* max-width: 200px;
  position:absolute;
  top:-3rem; */
  z-index:-1;
  margin:0px 9rem;
  box-shadow:0px 0px 15px 3px  ;

}




#video1{
  position: absolute;
  margin-top:25rem;
  
}
#video2{
  position: absolute;
  margin-top:40rem;

}
#video3{
  position: absolute;
  margin-top:55rem;

}
#video4{
  position: absolute;
  margin-top:70rem;

}

 @media only screen and (min-width: 461px) {

  #video1{
    position: absolute;
    margin-top: 25rem;
    
  }
  #video2{
    position: absolute;
    margin-top:50rem;
  }
  #video3{
    position: absolute;
    margin-top: 75rem;
    
  }
  #video4{
    position: absolute;
    margin-top:100rem;
  }
 }


  @media only screen and (min-width: 720px) {

    #video1{
      position: absolute;
      margin-top: 25rem;
      
    }
    #video2{
      position: absolute;
      margin-top:70rem;
    }
    #video3{
      position: absolute;
      margin-top: 115rem;
      
    }
    #video4{
      position: absolute;
      margin-top:160rem;
    }
  }

  @media only screen and (min-width: 1512px) {

    #video1{
      position: absolute;
      margin-top: 25rem;
      
    }
    #video2{
      position: absolute;
      margin-top:90rem;
    }
    #video3{
      position: absolute;
      margin-top: 160rem;
      
    }
    #video4{
      position: absolute;
      margin-top:230rem;
    }
  }







 body{
  background-image: url(/icons/Snapchat-386391854\ \(1\).jpg);
 }

.emoji{
  background-color: white;
}








/* *{
  border:2px solid black ;
    overflow-x: hidden;
}  */